@media screen and (max-width: 319px){

	.container{

		margin-top: 50%;
	}

	h4{

		text-align: center;
	}
}

@media screen and (min-width: 320px){

	.container{

				margin-top:40%;
	}

	h4{

		text-align: center;
	}
}

@media screen and (min-width: 375px){

	.container{

				margin-top:35%;
	}

	h4{

		text-align: center;
	}
}

@media screen and (min-width: 768px){

	h4{

	margin-left: -80%;
	}

	.container{

				margin-top:10%;
	}

	header{
		background-color: rgba(119,136,153,0.5);
		flex-direction: row;
		position: relative;
	}

	.menu-opcoes{
		position: absolute;
		right: 5%;
		top: 45%;
	}

	.menu-opcoes ul li{

		display: inline;
		margin-left: 10px;
	}
}

body{

	background-color:lightblue;
	font-family: 'Indie Flower', cursive;
}

a:link{

	color:darkblue;
	background-color:transparent;
	text-decoration:none;

}

a:visited{

	color: red;
	background-color:transparent;
	text-decoration:underline;
}

a:hover{

	color: purple;
	background-color:transparent;
	text-decoration:underline;

}


.fixo{
	position: fixed;
	top:0;
	z-index: 1030;
}


.container{

	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2%;
}

header, footer{

	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%
	margin-bottom:2%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5em;
	line-height: 1.5;
	padding: 1%;

}

.menu-opcoes{

	text-align: center;
}

h1, h2{
	font-size:25;
	margin-bottom:5;
	
}

p{
	margin-right:auto;
	margin-left:auto;
	margin-top:10;
	margin-bottom:10;
	font-size:20;

}

table, td, th{

	border:1px solid black;
	border-spacing:5px;
	padding:10px;
}

.colorido{

	color:darkblue;

}

.colorido2{

	color:brown;

}

.imgtexto{

	position: relative;
	width:70%;
	margin-left:auto;
	margin-right:auto;

}

.titulos2{

	position: relative;
	background-color:rgba(119,136,153,0.5);
	text-align:center;
	width:100%;
	bottom:0;

}

.imglogo{
	width: 50%;
	margin-left: 5;
}


.textoalinhar{

	text-align: center;
}

html{
	scroll-behavior: smooth;

}

.ajustes{

	line-height: 1;
	text-align: center;
}
.ajustes li:hover{

	background-color: gray;
}

header{
	background-color: rgba(119,136,153,0.5);
}